
@{
    ViewData["Title"] = "Map";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<script type="text/javascript" src="https://www.bing.com/api/maps/mapcontrol?callback=LoadMap" async defer></script>
<script type="text/javascript" src="~/js/map.js"></script>
<h2>Map</h2>
<div id="myMap" style="position:relative;width:600px;height:400px;"></div>